.cell-full { max-width:1px; width:100%; }
.cell-ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.cell-noWrap { white-space:nowrap; }

.filter:hover {
    cursor: pointer;
}

.segment {
    min-height: 400px;
}
