<div class="ui segment" [ngClass]="{'loading': loading}">
    <table class="ui very compact celled table">
        <thead>
            <tr>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Id
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Created
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Subsystem
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Class
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Type
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Run
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Author
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Title
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Log entry
                </th>
                <th style="text-align: center;">
                    <i class="filter icon"></i><br/>
                    Followups
                </th>
                <th style="text-align: center;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let logEntry of logEntries | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                    {{logEntry.run_id}}
                </td>
                <td>
                    {{logEntry.created | date}}
                </td>
                <td>
                    {{logEntry.subsystem | titlecase}}
                </td>
                <td>
                    {{logEntry.class | titlecase}}
                </td>
                <td>
                    {{logEntry.type | titlecase}}
                </td>
                <td>
                    {{logEntry.run}}
                </td>
                <td>
                    {{logEntry.author}}
                </td>
                <td [ngClass]="{'table-cell cell-full cell-ellipsis': mode === 'Compact'}">
                    {{logEntry.title}}
                </td>
                <td [ngClass]="{'table-cell cell-full cell-ellipsis': mode === 'Compact'}">
                    {{logEntry.log_entry_text}}
                </td>
                <td>
                    {{logEntry.follow_ups}}
                </td>
                <td style="text-align: center;">
                    <button suiPopup (click)="viewLogEntry(logEntry)"
                            [popupPlacement]="'bottom'" popupText="View log entry" [popupDelay]="250" class="ui icon button">
                        <i class="eye icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header" style="text-align: center;">
        <button [disabled]="isPreviousLogEntryButtonDisabled" class="ui medium basic icon button" style="float: left; border: 0;"
                (click)="previousLogEntry()">
            <i class="chevron left icon"></i>
        </button>
        Log Entry Details
        <button [disabled]="isNextLogEntryButtonDisabled" class="ui medium basic icon button" style="float: right; border: 0;"
                (click)="nextLogEntry()">
            <i class="chevron right icon"></i>
        </button>
    </div>
    <div class="content">
        <table>
            <tr class="border_bottom">
                <td class="title">Id</td>
                <td>
                    {{selectedLogEntry.run_id}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Created</td>
                <td>
                    {{selectedLogEntry.created | date}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title"d>Subsystem</td>
                <td>
                    {{selectedLogEntry.subsystem}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Class</td>
                <td>
                    {{selectedLogEntry.class}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Type</td>
                <td>
                    {{selectedLogEntry.type}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Author</td>
                <td>
                    {{selectedLogEntry.author}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Run</td>
                <td>
                    {{selectedLogEntry.run}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Title</td>
                <td>
                    {{selectedLogEntry.title}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Log entry text</td>
                <td>
                    {{selectedLogEntry.log_entry_text}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Follow ups</td>
                <td>
                    {{selectedLogEntry.follow_ups}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Interruption duration</td>
                <td>

                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Intervention type</td>
                <td>

                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Quality flag</td>
                <td>
                    {{selectedLogEntry.quality_flag}}
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button class="ui button" (click)="modal.approve('approved')">
            <i class="plus icon mr-5"></i>
            Create a followup
        </button>
        <button class="ui primary button" (click)="modal.approve('approved')" autofocus>
            <i class="times icon mr-5"></i>
            Close
        </button>
    </div>
</ng-template>
