<div class="ui segment" [ngClass]="{'loading': loading}">
    <table class="ui very compact celled table">
        <thead>
            <tr>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Id', 'id')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('id')}"></i><br/>
                    Id
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Created', 'created')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('created')}"></i><br/>
                    Created
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Subsystem(s)', 'subsystem')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('subsystem')}"></i><br/>
                    Subsystem(s)
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Class', 'class')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('class')}"></i><br/>
                    Class
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Type', 'type')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('type')}"></i><br/>
                    Type
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Run', 'run_id')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('run_id')}"></i><br/>
                    Run
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Author', 'author')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('author')}"></i><br/>
                    Author
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Title', 'title')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('title')}"></i><br/>
                    Title
                </th>
                <th *ngIf="mode === 'Extended'" style="text-align: center;">
                    <i (click)="filterLogEntries('Log entry', 'log_entry_text')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('log_entry_text')}"></i><br/>
                    Log entry
                </th>
                <th style="text-align: center;">
                    <i (click)="filterLogEntries('Followups', 'follow_ups')" class="filter icon" [ngClass]="{'orange-icon': isFilterApplied('follow_ups')}"></i><br/>
                    Followups
                </th>
                <th style="text-align: center;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let logEntry of filteredLogEntries | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                    {{logEntry.run_id}}
                </td>
                <td>
                    {{logEntry.created | date}}
                </td>
                <td>
                    {{logEntry.subsystem | titlecase}}
                </td>
                <td>
                    {{logEntry.class | titlecase}}
                </td>
                <td>
                    {{logEntry.type | titlecase}}
                </td>
                <td>
                    {{logEntry.run}}
                </td>
                <td>
                    {{logEntry.author}}
                </td>
                <td>
                    {{logEntry.title}}
                </td>
                <td *ngIf="mode === 'Extended'">
                    {{logEntry.log_entry_text}}
                </td>
                <td>
                    {{logEntry.follow_ups}}
                </td>
                <td style="text-align: center;">
                    <button suiPopup (click)="viewLogEntry(logEntry)"
                            [popupPlacement]="'bottom'" popupText="View log entry" [popupDelay]="250" class="ui icon button">
                        <i class="eye icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template let-context let-modal="modal" #detailModalTemplate>
    <div class="header" style="text-align: center;">
        <button [disabled]="isPreviousLogEntryButtonDisabled" class="ui medium basic icon button" style="float: left; border: 0;"
                (click)="previousLogEntry()">
            <i class="chevron left icon"></i>
        </button>
        Log Entry Details
        <button [disabled]="isNextLogEntryButtonDisabled" class="ui medium basic icon button" style="float: right; border: 0;"
                (click)="nextLogEntry()">
            <i class="chevron right icon"></i>
        </button>
    </div>
    <div class="content">
        <table>
            <tr class="border_bottom">
                <td class="title">Id</td>
                <td>
                    {{selectedLogEntry.run_id}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Created</td>
                <td>
                    {{selectedLogEntry.created | date}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title"d>Subsystem</td>
                <td>
                    {{selectedLogEntry.subsystem}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Class</td>
                <td>
                    {{selectedLogEntry.class}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Type</td>
                <td>
                    {{selectedLogEntry.type}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Author</td>
                <td>
                    {{selectedLogEntry.author}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Run</td>
                <td>
                    {{selectedLogEntry.run}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Title</td>
                <td>
                    {{selectedLogEntry.title}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Log entry text</td>
                <td>
                    {{selectedLogEntry.log_entry_text}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Follow ups</td>
                <td>
                    {{selectedLogEntry.follow_ups}}
                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Interruption duration</td>
                <td>

                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Intervention type</td>
                <td>

                </td>
            </tr>
            <tr class="border_bottom">
                <td class="title">Quality flag</td>
                <td>
                    {{selectedLogEntry.quality_flag}}
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button [routerLink]="['/add-log-entry']" class="ui button" (click)="modal.approve('approved')">
            <i class="plus icon mr-5"></i>
            Create a followup
        </button>
        <button class="ui primary button" (click)="modal.approve('approved')" autofocus>
            <i class="times icon mr-5"></i>
            Close
        </button>
    </div>
</ng-template>

<ng-template let-context let-modal="modal" #filterModalTemplate>
    <div class="header">Filter for field {{selectedFilterName}}</div>
    <div class="content">
        <form class="ui form">
            <!--
                Fields list
                ['Id', 'Created', 'Subsystem', 'Class', 'Type', 'Author', 'Run', 'Title', 'Log entry', 'Followups']
            -->

            <!-- String field -->
            <div *ngIf="['Class', 'Author', 'Run', 'Title', 'Log entry', 'Followups'].indexOf(selectedFilterName) >= 0"
                 class="field">
                <label>Field must include</label>
                <input name="queryInput" [(ngModel)]="filterQuery" placeholder="Query">
            </div>

            <!-- Type field -->
            <div *ngIf="['Type'].indexOf(selectedFilterName) >= 0" class="field">
                <label>Type(s)</label>
                <sui-multi-select class="selection"
                                  name="subsystemsSelect"
                                  [(ngModel)]="filterTypes"
                                  [options]="typeOptions"
                                  labelField="label"
                                  placeholder="Search..."
                                  [isSearchable]="true"
                                  #multiSelectType>
                    <sui-select-option *ngFor="let option of multiSelectType.filteredOptions"
                                       [value]="option">
                    </sui-select-option>
                </sui-multi-select>
            </div>

            <!-- Subsystem field -->
            <div *ngIf="['Subsystem(s)'].indexOf(selectedFilterName) >= 0" class="field">
                <label>Subsystem(s)</label>
                <sui-multi-select class="selection"
                                  name="subsystemsSelect"
                                  [(ngModel)]="filterSubsystems"
                                  [options]="subsystemOptions"
                                  labelField="label"
                                  placeholder="Search..."
                                  [isSearchable]="true"
                                  #multiSelect>
                    <sui-select-option *ngFor="let option of multiSelect.filteredOptions"
                                       [value]="option">
                    </sui-select-option>
                </sui-multi-select>
            </div>

            <!-- Integer field -->
            <div *ngIf="['Id'].indexOf(selectedFilterName) >= 0"
                 class="field">
                <label>Minimum value</label>
                <input name="minValueInput" [(ngModel)]="filterMinValue" placeholder="Minimum">
            </div>

            <div *ngIf="['Id'].indexOf(selectedFilterName) >= 0"
                 class="field">
                <label>Maximum value</label>
                <input name="maxValueInput" [(ngModel)]="filterMaxValue" placeholder="Maximum">
            </div>

            <!-- Date field -->
            <div *ngIf="['Created'].indexOf(selectedFilterName) >= 0" class="field">
                <label>Minimum Date</label>
                <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input name="minDateInput" suiDatepicker [(ngModel)]="filterMinDateValue" [pickerUseNativeOnMobile]="true">
                </div>
            </div>
            <div *ngIf="['Created'].indexOf(selectedFilterName) >= 0" class="field">
                <label>Maximum Date</label>
                <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input name="maxDateInput" suiDatepicker [(ngModel)]="filterMaxDateValue" [pickerUseNativeOnMobile]="true">
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="removeFilter(); modal.approve('approved')">
            <i class="cancel icon"></i>
            Remove filter
        </button>
        <button class="ui green button" (click)="applyFilter(); modal.approve('approved')" autofocus>
            <i class="check icon"></i>
            Apply filter
        </button>
    </div>
</ng-template>
