<div class="ui container">
    <div class="column mb-20">
        <div class="ui segment">
            <h2 class="ui middle floated header">Add log entry</h2>
            <div class="ui clearing divider"></div>
            <div *ngIf="showTechnicalError" class="ui error message">
                <div class="header">
                    <i class="exclamation triangle icon"></i>
                    A technical error occured
                </div>
                <p>Please try again later</p>
            </div>
            <form [formGroup]="form" class="ui form" (submit)="submitForm()">
                <div class="field" [ngClass]="{'error': sendAttempt && !form.get('date').valid}">
                    <label>Date *</label>
                    <div class="ui left icon input">
                        <i class="calendar icon"></i>
                        <input suiDatepicker placeholder="Date" formControlName="date" [pickerUseNativeOnMobile]="true">
                    </div>
                </div>
                <div class="field" [ngClass]="{'error': sendAttempt && !form.get('subsystems').valid}">
                    <label>Subsystem(s) *</label>
                    <sui-multi-select class="selection"
                                      formControlName="subsystems"
                                      [options]="subsystemOptions"
                                      labelField="label"
                                      placeholder="Search..."
                                      [isSearchable]="true"
                                      #multiSelect>
                        <sui-select-option *ngFor="let option of multiSelect.filteredOptions"
                                           [value]="option">
                        </sui-select-option>
                    </sui-multi-select>
                </div>
                <div class="field" [ngClass]="{'error': sendAttempt && !form.get('class').valid}">
                    <label>Class *</label>
                    <input type="text" formControlName="class" placeholder="Class">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('type').valid}">
                    <label>Type *</label>
                    <sui-select class="selection"
                                formControlName="type"
                                placeholder="Search..."
                                [options]="typeOptions"
                                labelField="label"
                                [isSearchable]="true"
                                #select>
                        <sui-select-option *ngFor="let option of select.filteredOptions"
                                           [value]="option">
                        </sui-select-option>
                    </sui-select>
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('run').valid}">
                    <label>Run *</label>
                    <input type="text" formControlName="run" placeholder="Run">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('author').valid}">
                    <label>Author *</label>
                    <input type="text" formControlName="author" placeholder="Author">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('title').valid}">
                    <label>Title *</label>
                    <input type="text" formControlName="title" placeholder="Title">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('text').valid}">
                    <label>Text *</label>
                    <textarea rows="4" type="text" formControlName="text" placeholder="Text"></textarea>
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('followups').valid}">
                    <label>Followups</label>
                    <input type="text" formControlName="followups" placeholder="Followups">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('interruptionDuration').valid}">
                    <label>Interruption duration</label>
                    <input type="text" formControlName="interruptionDuration" placeholder="Interruption duration">
                </div>
                <div class="field" class="field" [ngClass]="{'error': sendAttempt && !form.get('interventionType').valid}">
                    <label>Intervention type</label>
                    <input type="text" formControlName="interventionType" placeholder="Intervention type">
                </div>
                <div class="field">
                    <button class="ui primary button" type="submit">
                        <i class="check icon mr-5"></i>
                        Submit
                    </button>
                    <button [routerLink]="['/home']" class="ui button ml-5" type="cancel">
                        <i class="ban icon mr-5"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
