/* You can add global styles to this file, and also import other style files */
.mr-5 {
    margin-right: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}
